/* Font Family */
@font-face {
    font-family: 'IranYekan';
    src: url('../font/IRANYekanXFaNum-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'IranYekan';
    src: url('../font/IRANYekanXFaNum-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'IranYekan';
    src: url('../font/IRANYekanXFaNum-Bold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'IranYekan';
    src: url('../font/IRANYekanXFaNum-Black.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'IranYekan';
    src: url('../font/IRANYekanXFaNum-ExtraBlack.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Default variables for colors */
:root {
    /* MAIN COLOR: #39A7FF */
    /* Green Color: #66CCAA */
    
    /* --bg-light: #e6f4ff;
    --text-light: #000000;
    --bg-dark: #000e1a;
    --text-dark: #ffffff; */
    --bg-color: #e6f4ff; /* 95% - 5% */
    --text-color: #000000; /* 100% - 0% */
    --bg-blue: #4dafff; /* 65% - 35% */
    --bg-btn: #008cff; /* 50% */
    --bg-banner: #33a3ff; /* 40% - 60% */

    --bg-benefit: #9fdfca; /* 75% - 25% */
    --text-benefit: #267359; /* 70% - 30% */
    --bg-harm: #f7879a; /* 75% - 25% */
    --text-harm: #900920; /* 70% - 30% */

}

* {
    font-family: IranYekan;
    direction: rtl;
    margin: 0;
    transition: all;
    transition-duration: 80ms;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color); 
}

/* .dark-mode {
    background-color: var(--bg-dark);
    color: var(--text-dark);
} */

/* ---------------------------------------------------------- */

.hidden{
    display: none;
}

/* Flex */
.flex {
    display: flex;
}
.flex-col {
    flex-direction: column;
}
.justify-between{
    justify-content: space-between;
}
.justify-center{
    justify-content: center;
}
.items-center{
    align-items: center;
}
.items-start{
    align-items: start;
}
.items-end{
    align-items: end;
}
.gap-05 {
    gap: 0.5rem;
}
.gap-1 {
    gap: 1rem;
}
.gap-2 {
    gap: 2rem;
}
.gap-3 {
    gap: 3rem;
}
.gap-5 {
    gap: 5rem;
}

/* Color */
.bg-blue{
    background-color: var(--bg-blue);
}
.bg-banner{
    background-color: var(--bg-banner);
}
.bg-main{
    background-color: var(--bg-color);
}
.bg-benefit{
    background-color: var(--bg-benefit);
}
.bg-harm{
    background-color: var(--bg-harm);
}

.btn{
    border: none;
    color: var(--text-color);
    background-color: var(--bg-color);
}
.btn-primary{
    background-color: var(--bg-btn);
}

/* padding Margin */
.p-05{
    padding: 0.5rem;
}
.p-1{
    padding: 1rem;
}
.p-2{
    padding: 2rem;
}
.pr-05{
    padding-right: 0.5rem;
}
.px-1{
    padding-left: 1rem;
    padding-right: 1rem;
}
.px-2{
    padding-left: 2rem;
    padding-right: 2rem;
}
.py-05{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.m-1{
    margin: 1rem;
}
.mt-05{
    margin-top: 0.5rem;
}
.mt-1{
    margin-top: 1rem;
}   

/* Position */
.absolute {
    position: absolute;
}
.sticky{
    position: sticky;
    top: 0px;
}

/* Text */
.text-decor-none{
    text-decoration: none;
}
.text-center{
    text-align: center;
}
.text-color{
    color: var(--text-color);
}
.text-benefit{
    color: var(--text-benefit);
}
.text-harm{
    color: var(--text-harm);
}
.text-light{
    font-weight: 300;
}
.text-normal{
    font-weight: 400;
}
.text-bold{
    font-weight: 500;
}
.text-black{
    font-weight: 600;
}
.text-md{
    font-size: medium;
}
.text-xl{
    font-size: larger;
}
.text-2xl{
    font-size: x-large;
}
.text-3xl{
    font-size: 3rem;
}

/* HOVER */
.hover-scale-110{
    scale: 100%;
    transition: all;
}
.hover-scale-110:hover{
    scale: 110%;
    transform-origin: center;
}
.hover-box-shadow-lg{
    box-shadow:none;
    transition: all;
}
.hover-box-shadow-lg:hover{
    box-shadow:var(--text-color) 0rem 0rem 1rem -0.3rem;
}
.hover-box-shadow-xl{
    box-shadow:none;
    transition: all;
}
.hover-box-shadow-xl:hover{
    box-shadow:var(--text-color) 0rem 0rem 2rem -0.5rem;
}
/* .hover-text-shadow{
    text-shadow:none;
    transition: all;
}
.hover-text-shadow:hover{
    text-shadow:var(--text-color) 0rem 0rem 1rem;
} */
.duration-200{
    transition-duration: 200ms;
}

/* Rounded */
.rounded-05{
    border-radius: 0.5rem;
}

/* Width & Height */
.w-4{
    width: 4rem;
}
.w-5{
    width: 5rem;
}
.w-8{
    width: 8rem;
}
.w-10{
    width: 10rem;
}
.w-12{
    width: 12rem;
}
.w-30{
    width: 30rem;
}
.h-fit{
    height: fit-content;
}

.table-border{
    border-color: var(--text-color);
    border-style: solid;
    border-width: 2px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}
.border-none{
    border: none;
}
.overflow-x-auto{
    overflow-x: auto;
}
.z-index-3{
    z-index: 3;
}

@media only screen and (max-width: 1140px) {
    .lg-hidden{
        display: none;
    }
    .lg-flex{
        display: flex;
    }
    .lg-flex-col{
        flex-direction: column;
    }
    .lg-flex-col-rev{
        flex-direction: column-reverse;
    }
    .lg-justify-center{
        justify-content: center;
    }
    .lg-items-center{
        align-items: center;
    }
    .lg-gap-1{
        gap: 1rem;
    }
    .lg-w-15{
        width: 15rem;
    }
}

@media only screen and (max-width: 768px) { 

    .md-flex{
        flex-direction: column;
    }

}
